# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Static Code Analyzer/*
!/Static Code Analyzer/task/
/Static Code Analyzer/task/*
!/Static Code Analyzer/task/analyzer
